* {
  margin: 0;
}

.back {
  width: 39px;
  height: 19px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #8692a6;
}

.rightStep {
  height: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;
  color: #bdbdbd;
  justify-content: end;
}

.rightTitle {
  height: 19px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #8692a6;
}

.loginTitle {
  width: 264px;
  height: 36px;
  left: 593px;
  top: 103px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #000000;
}

.loginSubTitle {
  width: 411px;
  height: 56px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #8692a6;
}

.label {
  height: 19px;
  left: 793px;
  top: 335px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #696f79;
  margin-top: 14px;
  margin-bottom: 14px;
}

.input {
  width: 426px;
  height: 64px;
  left: 793px;
  top: 368px;
  background: #ffffff;
  border: 1px solid #8692a6;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
}

.input[type='text']:focus {
  border: 1px solid #1565d8;
}

.input[type='text'] {
  padding-left: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #494949;
}

.input[type='email'] {
  padding-left: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #494949;
}

.input[type='password'] {
  padding-left: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #494949;
}

button {
  width: 426px;
  height: 64px;
  background: #00c1f2;
  border: 6px solid #00c1f2;
  border-radius: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 14px;
}

.term {
  height: 19px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #696f79;
  padding-left: 10px;
  padding-top: 6px;
}

input[type='checkbox']:checked {
  background-color: #00c1f2;
}

.divider {
  width: 172px;
  height: 0px;
  left: 793px;
  top: 853px;
  border: 1px solid #f5f5f5;
  margin-top: 10px;
}

.or {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #bababa;
  padding-left: 30px;
  padding-right: 30px;
}

.g-button {
  width: 426px;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  margin-left: 70px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.g-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
