* {
  margin: 0;
}

a {
  text-decoration: none;
  color: #2e4765;
}

/* Login screen starts here */

.back {
  width: 39px;
  height: 19px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #8692a6;
}

.rightStep {
  height: 17px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: right;
  color: #bdbdbd;
  justify-content: end;
}

.rightTitle {
  height: 19px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #8692a6;
}

.loginTitle {
  height: 36px;
  left: 593px;
  top: 103px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #000000;
}

.loginSubTitle {
  height: 56px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #8692a6;
}

.label {
  height: 19px;
  left: 793px;
  top: 335px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #696f79;
  margin-top: 14px;
  margin-bottom: 14px;
}

.input {
  width: 426px;
  height: 64px;
  left: 793px;
  top: 368px;
  background: #ffffff;
  border: 1px solid #8692a6;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
}

.input[type='text']:focus {
  border: 1px solid #1565d8;
}

.input[type='text'] {
  padding-left: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #494949;
}

.input[type='email'] {
  padding-left: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #494949;
}

.input[type='password'] {
  padding-left: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #494949;
}

button {
  width: 426px;
  height: 64px;
  background: #00c1f2;
  border: 6px solid #00c1f2;
  border-radius: 6px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 14px;
}

.term {
  height: 19px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #696f79;
  padding-left: 10px;
  padding-top: 6px;
}

input[type='checkbox']:checked {
  background-color: #00c1f2;
}

.divider {
  width: 172px;
  height: 0px;
  left: 793px;
  top: 853px;
  border: 1px solid #f5f5f5;
  margin-top: 10px;
}

.or {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #bababa;
  padding-left: 30px;
  padding-right: 30px;
}

.g-button {
  width: 426px;
  height: 64px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  margin-left: 70px;
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.g-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.forgotPassword {
  height: 19px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #00c1f2;
  margin-top: 14px;
  justify-content: end;
  width: 426px;
}

.signup {
  height: 19px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #00c1f2;
  margin-top: 14px;
  justify-content: start;
}

.select {
  width: 426px;
  background: #ffffff;
  box-shadow: 0px 4px 10px 3px rgb(0 0 0 / 11%);
  border-radius: 6px;
}

/* Login screen ends here */

.main {
  display: grid;
  grid-template-areas:
    'header'
    'content-area';
}

.header {
  grid-area: header;
  display: flex;
  height: 90px;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  padding-left: 37px;
  padding-right: 34px;
}

.nav {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
  border-radius: 0px 24px 24px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: width 0.1s;
}

.content {
  grid-area: content-area;
  background: #e5e5e5;
  height: calc(100vh - 100px);
  display: flex;
}

.content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
}

.header-search-par {
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
}

.header-search {
  background: #f6f7fa;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
  border-radius: 14px;
  width: 413px;
  height: 48px;
  margin-left: 20px;
  margin-right: 20px;
}

.header-right-section {
  margin-left: auto;
  display: flex;
  width: -webkit-fill-available;
  justify-content: end;
}

.header-lan-button {
  width: 149px;
  height: 48px;
  background: #00c1f2;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* BGS - White */

  color: #ffffff;
  margin-right: 20px;
}

.header-user,
.header-log {
  background: #f4f9fd;
  box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
  border-radius: 14px;
  width: 182px;
  height: 48px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-log {
  background: #fff;
  justify-content: start;
  width: 90px;
  margin-left: 20px;
}

.header-user-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #0a1629;
}

.header-logout {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #7d8592;
}

/* Sidebar css starts here */

.Sidebar {
  display: flex;
  flex-direction: column;
  color: #000;
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 0px 24px 24px 0px;
}
.sidebar-header {
  padding: 5px;
  display: flex;
}
.sidebar-icon {
  color: #3f8cff;
}
.sidebar-back {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  /* Text - Dark */

  color: #2e4765;
  margin-left: 10px;
}

.sidebar-items {
  margin-top: 30px;
}

.sidebar-title {
  padding-left: 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */

  /* Text - Dark */

  color: #2e4765;
}

.sidebar-item {
  display: flex;
  height: 40px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}

.Sidebar.Closed {
  width: 30px;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content;
}

.nav.Closed {
  width: 50px;
  transition: width 0.5s;
}

.Sidebar.Closed .sidebar-icon1 {
  height: 1.5rem;
  width: 1.5rem;
}

.active .sidebar-item {
  background: rgba(0, 193, 242, 0.1);
  mix-blend-mode: normal;
  border-radius: 0px 10px 10px 0px;
}

.active .sidebar-icon,
.active .sidebar-icon1,
.active .sidebar-title,
a.active {
  color: #3f8cff;
}
